In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
df.iloc[:, -1:]

      quality
0           5
1           5
2           5
3           6
4           5
...       ...
1594        5
1595        6
1596        6
1597        5
1598        6

[1599 rows x 1 columns]

In [4]:
x = np.array(df.iloc[:, :-1])
x = x/np.linalg.norm(x)
x

array([[2.99991680e-03, 2.83775913e-04, 0.00000000e+00, ...,
        1.42293351e-03, 2.27020731e-04, 3.81070512e-03],
       [3.16207446e-03, 3.56746862e-04, 0.00000000e+00, ...,
        1.29726132e-03, 2.75668030e-04, 3.97286279e-03],
       [3.16207446e-03, 3.08099563e-04, 1.62157665e-05, ...,
        1.32158497e-03, 2.63506205e-04, 3.97286279e-03],
       ...,
       [2.55398322e-03, 2.06751023e-04, 5.27012410e-05, ...,
        1.38644803e-03, 3.04045621e-04, 4.45933578e-03],
       [2.39182555e-03, 2.61479234e-04, 4.86472994e-05, ...,
        1.44725716e-03, 2.87829855e-04, 4.13502045e-03],
       [2.43236497e-03, 1.25672190e-04, 1.90535256e-04, ...,
        1.37428621e-03, 2.67560147e-04, 4.45933578e-03]])

In [5]:
y = np.array(df.iloc[:,-1:])
y = y.reshape(-1)
y.shape

(1599,)

In [7]:
splits = [0.6, 0.7, 0.8, 0.9]
for split in splits: 
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = split)
    model = svm.SVC()
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print('For Test split:', split, 'Acuraccy Score:', accuracy_score(y_test, y_pred))

For Test split: 0.6 Acuraccy Score: 0.47708333333333336
For Test split: 0.7 Acuraccy Score: 0.49107142857142855
For Test split: 0.8 Acuraccy Score: 0.47734375
For Test split: 0.9 Acuraccy Score: 0.4756944444444444